In [24]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os


import warnings                   # To ignore the warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
k_fold = KFold(n_splits=5, shuffle=True, random_state=0)
cross_validation = StratifiedKFold(n_splits=5, shuffle=False)

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.metrics import confusion_matrix,accuracy_score, roc_curve, auc
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score,recall_score,f1_score
# Any results you write to the current directory are saved as output.

In [25]:
pwd

'C:\\Users\\DurgaAkhilYeduresi\\myproject\\Restuarant Venture Prediction'

In [26]:
train=pd.read_csv("C:\\Users\\DurgaAkhilYeduresi\\myproject\\Restuarant Venture Prediction\\CE802_Ass_2018_Data.csv")
test=pd.read_csv("C:\\Users\\DurgaAkhilYeduresi\\myproject\\Restuarant Venture Prediction\\CE802_Ass_2018_Test.csv")

In [27]:
train.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,Class
0,3.88,3.32,2.87,3.48,4.45,0.53,1.0,0.83,0.04,32.0,26.0,4.0,1.64,2.0,False
1,-2.72,0.86,-0.68,-1.88,-2.66,1.52,10.0,7.45,7.70,5.0,235.0,15.0,12.15,-65.0,True
2,3.97,2.10,2.40,3.67,4.81,2.67,1.0,0.82,0.90,17.0,72.0,2.0,1.36,-12.0,True
3,2.92,2.45,4.20,4.27,2.49,0.78,1.0,0.34,0.61,31.0,16.0,4.0,0.79,1.0,False
4,2.44,2.24,3.51,3.02,3.97,1.64,1.0,0.60,0.67,14.0,18.0,0.0,0.64,-7.0,True

In [28]:
test.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,Class
0,-0.53,-0.79,0.29,-0.64,2.08,-1.11,10.0,6.10,5.20,155.0,215.0,15.0,11.20,85.0,NaN
1,3.69,2.63,2.93,3.48,2.89,0.48,1.0,0.04,0.25,6.0,5.0,4.0,1.40,16.0,NaN
2,-2.63,2.74,-0.63,-0.16,-1.94,0.45,10.0,7.40,7.70,130.0,110.0,5.0,6.25,-20.0,NaN
3,-2.06,-2.67,0.83,-2.87,-0.91,1.48,10.0,6.65,9.20,50.0,320.0,5.0,12.00,-60.0,NaN
4,3.28,-0.61,-0.75,-0.68,-0.09,3.32,10.0,6.50,5.65,230.0,30.0,15.0,8.20,-5.0,NaN

In [29]:
train.describe()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.00000,1500.000000
mean,1.264867,1.217053,1.223260,1.288787,1.297533,1.072353,5.403333,3.637813,3.854280,74.445333,109.024667,7.638000,4.96876,-4.414000
std,2.545172,2.513850,2.554271,2.540644,2.491236,1.108964,4.504907,3.166909,3.465276,71.416874,117.334580,7.159315,4.32521,40.188448
min,-3.300000,-3.260000,-3.250000,-3.370000,-3.210000,-1.290000,0.000000,-0.050000,0.000000,-5.000000,0.000000,-1.000000,0.00000,-105.000000
25%,-1.190000,-1.190000,-1.272500,-1.190000,-1.080000,0.420000,1.000000,0.670000,0.600000,19.000000,15.000000,2.000000,1.24000,-20.000000
50%,2.255000,2.200000,2.220000,2.270000,2.250000,0.920000,1.000000,1.030000,1.020000,39.000000,50.000000,4.000000,2.07000,1.000000
75%,3.150000,3.160000,3.120000,3.170000,3.132500,1.650000,10.000000,6.400000,7.050000,135.000000,195.000000,15.000000,8.20000,14.000000
max,9.630000,8.880000,9.620000,10.320000,9.030000,5.310000,10.000000,10.100000,10.350000,240.000000,390.000000,25.000000,15.70000,110.000000

In [30]:
train.isnull().sum()

F1       0
F2       0
F3       0
F4       0
F5       0
F6       0
F7       0
F8       0
F9       0
F10      0
F11      0
F12      0
F13      0
F14      0
Class    0
dtype: int64

In [31]:
train.dtypes

F1       float64
F2       float64
F3       float64
F4       float64
F5       float64
F6       float64
F7       float64
F8       float64
F9       float64
F10      float64
F11      float64
F12      float64
F13      float64
F14      float64
Class       bool
dtype: object

In [32]:
train.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,Class
0,3.88,3.32,2.87,3.48,4.45,0.53,1.0,0.83,0.04,32.0,26.0,4.0,1.64,2.0,False
1,-2.72,0.86,-0.68,-1.88,-2.66,1.52,10.0,7.45,7.70,5.0,235.0,15.0,12.15,-65.0,True
2,3.97,2.10,2.40,3.67,4.81,2.67,1.0,0.82,0.90,17.0,72.0,2.0,1.36,-12.0,True
3,2.92,2.45,4.20,4.27,2.49,0.78,1.0,0.34,0.61,31.0,16.0,4.0,0.79,1.0,False
4,2.44,2.24,3.51,3.02,3.97,1.64,1.0,0.60,0.67,14.0,18.0,0.0,0.64,-7.0,True

In [33]:
train_data=train.drop('Class',axis=1)

In [34]:
train_data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14
0,3.88,3.32,2.87,3.48,4.45,0.53,1.0,0.83,0.04,32.0,26.0,4.0,1.64,2.0
1,-2.72,0.86,-0.68,-1.88,-2.66,1.52,10.0,7.45,7.70,5.0,235.0,15.0,12.15,-65.0
2,3.97,2.10,2.40,3.67,4.81,2.67,1.0,0.82,0.90,17.0,72.0,2.0,1.36,-12.0
3,2.92,2.45,4.20,4.27,2.49,0.78,1.0,0.34,0.61,31.0,16.0,4.0,0.79,1.0
4,2.44,2.24,3.51,3.02,3.97,1.64,1.0,0.60,0.67,14.0,18.0,0.0,0.64,-7.0

In [35]:
target=train['Class']

In [36]:
target.head()

0    False
1     True
2     True
3    False
4     True
Name: Class, dtype: bool

In [37]:
train_data.shape, target.shape

((1500, 14), (1500,))

In [38]:
def normalization(data):
    return (data - data.min())/(data.max() - data.min())

In [39]:
train_data = normalization(train_data)

In [40]:
train_data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14
0,0.555298,0.542010,0.475524,0.500365,0.625817,0.275758,0.1,0.086700,0.003865,0.151020,0.066667,0.192308,0.104459,0.497674
1,0.044857,0.339374,0.199689,0.108839,0.044935,0.425758,1.0,0.738916,0.743961,0.040816,0.602564,0.615385,0.773885,0.186047
2,0.562258,0.441516,0.439005,0.514244,0.655229,0.600000,0.1,0.085714,0.086957,0.089796,0.184615,0.115385,0.086624,0.432558
3,0.481052,0.470346,0.578866,0.558072,0.465686,0.313636,0.1,0.038424,0.058937,0.146939,0.041026,0.192308,0.050318,0.493023
4,0.443929,0.453048,0.525253,0.466764,0.586601,0.443939,0.1,0.064039,0.064734,0.077551,0.046154,0.038462,0.040764,0.455814

In [41]:
#modelling

In [42]:
grid_parameters={"C":[1.0,1.5,2.0,2.5], "penalty":["l1","l2"] }
clf= LogisticRegression()
clf = GridSearchCV(clf, param_grid=grid_parameters, cv=cross_validation,n_jobs=-1)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print("K-Fold scores :",score)
print("Cross validation Accuracy:",round(np.mean(score)*100, 2))
y_pred = cross_val_predict(clf, train_data, target, cv=5)
print("F1 score:",f1_score(target, y_pred,average='weighted'))
print("precision score:",precision_score(target, y_pred,average='weighted'))
print("recall score:",recall_score(target, y_pred,average='weighted'))
tn, fp, fn, tp = confusion_matrix(target, y_pred).ravel()
fp, tp, thresold = roc_curve(target, y_pred)
AUC = auc(fp, tp)
print("ROC Area under Curve:",AUC)

K-Fold scores : [0.81666667 0.83       0.83333333 0.89       0.84666667]
Cross validation Accuracy: 84.33
F1 score: 0.8447613662501816
precision score: 0.8449832162707477
recall score: 0.8446666666666667
ROC Area under Curve: 0.8443854323377201

In [43]:
y_pred.shape

(1500,)

In [44]:
target.shape

(1500,)

In [45]:
clf

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             error_score='raise-deprecating',
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='warn',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='warn',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': [1.0, 1.5, 2.0, 2.5], 'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [46]:
clf = DecisionTreeClassifier()
grid_parameters = {'max_depth': range(10,30,1),'min_samples_split' : range(10,50,2),'min_samples_leaf' : range(10, 30,2)
                 }
clf = GridSearchCV(clf, param_grid=grid_parameters, cv=cross_validation,n_jobs=-1)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print("K-Fold scores :",score)
print("Cross validation Accuracy:",round(np.mean(score)*100, 2))
y_pred = cross_val_predict(clf, train_data, target, cv=5)
print("F1 score:",f1_score(target, y_pred,average='weighted'))
print("precision score:",precision_score(target, y_pred,average='weighted'))
print("recall score:",recall_score(target, y_pred,average='weighted'))
tn, fp, fn, tp = confusion_matrix(target, y_pred).ravel()
fp, tp, thresold = roc_curve(target, y_pred)
AUC = auc(fp, tp)
print("ROC Area under Curve:",AUC)

K-Fold scores : [0.75666667 0.74333333 0.72666667 0.75       0.78333333]
Cross validation Accuracy: 75.2
F1 score: 0.759590980944335
precision score: 0.7607432142657663
recall score: 0.7606666666666667
ROC Area under Curve: 0.7561683949919412

In [47]:
clf

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': range(10, 30),
                         'min_samples_leaf': range(10, 30, 2),
                         'min_samples_split': range(10, 50, 2)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [48]:
clf = RandomForestClassifier(n_estimators=13)
param_grid = {"max_depth": [5, None],
              "max_features": [3,5,10],
              "min_samples_split": [2, 5, 7],
              "bootstrap": [True, False],
              "criterion": ["gini", "entropy"]}
clf = GridSearchCV(clf, param_grid=grid_parameters, cv=cross_validation,n_jobs=-1)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print("K-Fold scores :",score)
print("Cross validation Accuracy:",round(np.mean(score)*100, 2))
y_pred = cross_val_predict(clf, train_data, target, cv=5)
print("F1 score:",f1_score(target, y_pred,average='weighted'))
print("precision score:",precision_score(target, y_pred,average='weighted'))
print("recall score:",recall_score(target, y_pred,average='weighted'))
tn, fp, fn, tp = confusion_matrix(target, y_pred).ravel()
fp, tp, thresold = roc_curve(target, y_pred)
AUC = auc(fp, tp)
print("ROC Area under Curve:",AUC)

K-Fold scores : [0.78666667 0.78333333 0.78       0.82666667 0.81      ]
Cross validation Accuracy: 79.73

C:\Users\DurgaAkhilYeduresi\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

F1 score: 0.7968775885615417
precision score: 0.7975312583133812
recall score: 0.7966666666666666
ROC Area under Curve: 0.7967197894883717

C:\Users\DurgaAkhilYeduresi\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [49]:
clf

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=13, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': range(10, 30),
                         'min_samples_leaf': range(10, 30, 2),
                         'min_samples_split': range(10, 50, 2)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [50]:
clf = SVC()
grid_parameters = {   
                  'C': np.logspace(-1, 3, 9),
                 'gamma' : np.logspace(-7, -0, 8),
                 'kernel' :['rbf', 'linear']
                 }
clf = GridSearchCV(clf, param_grid=grid_parameters, cv=cross_validation,n_jobs=-1)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print("K-Fold scores :",score)
print("Cross validation Accuracy:",round(np.mean(score)*100, 2))
y_pred = cross_val_predict(clf, train_data, target, cv=5)
print("F1 score:",f1_score(target, y_pred,average='weighted'))
print("precision score:",precision_score(target, y_pred,average='weighted'))
print("recall score:",recall_score(target, y_pred,average='weighted'))
tn, fp, fn, tp = confusion_matrix(target, y_pred).ravel()
fp, tp, thresold = roc_curve(target, y_pred)
AUC = auc(fp, tp)
print("ROC Area under Curve:",AUC)

C:\Users\DurgaAkhilYeduresi\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

K-Fold scores : [0.88       0.90666667 0.92666667 0.91333333 0.90666667]
Cross validation Accuracy: 90.67
F1 score: 0.892598470733993
precision score: 0.8926269488283117
recall score: 0.8926666666666667
ROC Area under Curve: 0.8914178230078047

In [51]:
clf

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto_deprecated', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': array([1.00000000e-01, 3.16227766e-01, 1.00000000e+00, 3.16227766e+00,
       1.00000000e+01, 3.16227766e+01, 1.00000000e+02, 3.16227766e+02,
       1.00000000e+03]),
                         'gamma': array([1.e-07, 1.e-06, 1.e-05, 1.e-04, 1.e-03, 1.e-02, 1.e-01, 1.e+00]),
                         'kernel': ['rbf', 'linear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [52]:
test.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,Class
0,-0.53,-0.79,0.29,-0.64,2.08,-1.11,10.0,6.10,5.20,155.0,215.0,15.0,11.20,85.0,NaN
1,3.69,2.63,2.93,3.48,2.89,0.48,1.0,0.04,0.25,6.0,5.0,4.0,1.40,16.0,NaN
2,-2.63,2.74,-0.63,-0.16,-1.94,0.45,10.0,7.40,7.70,130.0,110.0,5.0,6.25,-20.0,NaN
3,-2.06,-2.67,0.83,-2.87,-0.91,1.48,10.0,6.65,9.20,50.0,320.0,5.0,12.00,-60.0,NaN
4,3.28,-0.61,-0.75,-0.68,-0.09,3.32,10.0,6.50,5.65,230.0,30.0,15.0,8.20,-5.0,NaN

In [53]:
test_data=test.drop('Class',axis=1)

In [54]:
test=test.drop('Class',axis=1)

In [55]:
test.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14
0,-0.53,-0.79,0.29,-0.64,2.08,-1.11,10.0,6.10,5.20,155.0,215.0,15.0,11.20,85.0
1,3.69,2.63,2.93,3.48,2.89,0.48,1.0,0.04,0.25,6.0,5.0,4.0,1.40,16.0
2,-2.63,2.74,-0.63,-0.16,-1.94,0.45,10.0,7.40,7.70,130.0,110.0,5.0,6.25,-20.0
3,-2.06,-2.67,0.83,-2.87,-0.91,1.48,10.0,6.65,9.20,50.0,320.0,5.0,12.00,-60.0
4,3.28,-0.61,-0.75,-0.68,-0.09,3.32,10.0,6.50,5.65,230.0,30.0,15.0,8.20,-5.0

In [56]:
test_data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14
0,-0.53,-0.79,0.29,-0.64,2.08,-1.11,10.0,6.10,5.20,155.0,215.0,15.0,11.20,85.0
1,3.69,2.63,2.93,3.48,2.89,0.48,1.0,0.04,0.25,6.0,5.0,4.0,1.40,16.0
2,-2.63,2.74,-0.63,-0.16,-1.94,0.45,10.0,7.40,7.70,130.0,110.0,5.0,6.25,-20.0
3,-2.06,-2.67,0.83,-2.87,-0.91,1.48,10.0,6.65,9.20,50.0,320.0,5.0,12.00,-60.0
4,3.28,-0.61,-0.75,-0.68,-0.09,3.32,10.0,6.50,5.65,230.0,30.0,15.0,8.20,-5.0

In [57]:
test_data = normalization(test_data)

In [58]:
test_data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14
0,0.227311,0.237934,0.276235,0.213301,0.428686,0.012312,1.0,0.584527,0.504854,0.660,0.5375,0.615385,0.710928,0.904762
1,0.585242,0.527519,0.479938,0.547445,0.493590,0.229822,0.1,0.005731,0.024272,0.064,0.0125,0.192308,0.088310,0.576190
2,0.049194,0.536833,0.205247,0.252230,0.106571,0.225718,1.0,0.708691,0.747573,0.560,0.2750,0.230769,0.396442,0.404762
3,0.097540,0.078747,0.317901,0.032441,0.189103,0.366621,1.0,0.637058,0.893204,0.240,0.8000,0.230769,0.761753,0.214286
4,0.550466,0.253175,0.195988,0.210057,0.254808,0.618331,1.0,0.622732,0.548544,0.960,0.0750,0.615385,0.520330,0.476190

In [59]:
clf = SVC()
grid_parameters = {   
                  'C': np.logspace(-1, 3, 9),
                 'gamma' : np.logspace(-7, -0, 8),
                 'kernel' :['rbf', 'linear']
                 }
clf = GridSearchCV(clf, param_grid=grid_parameters, cv=cross_validation,n_jobs=-1)
clf.fit(train_data, target)
prediction = clf.predict(test_data)

In [60]:
test["Class"] = pd.DataFrame({"Class": prediction
})
test.to_csv('test.csv', index=False)

In [61]:
test

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,Class
0,-0.53,-0.79,0.29,-0.64,2.08,-1.11,10.0,6.10,5.20,155.0,215.0,15.0,11.20,85.0,False
1,3.69,2.63,2.93,3.48,2.89,0.48,1.0,0.04,0.25,6.0,5.0,4.0,1.40,16.0,False
2,-2.63,2.74,-0.63,-0.16,-1.94,0.45,10.0,7.40,7.70,130.0,110.0,5.0,6.25,-20.0,True
3,-2.06,-2.67,0.83,-2.87,-0.91,1.48,10.0,6.65,9.20,50.0,320.0,5.0,12.00,-60.0,False
4,3.28,-0.61,-0.75,-0.68,-0.09,3.32,10.0,6.50,5.65,230.0,30.0,15.0,8.20,-5.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,3.17,4.49,3.03,3.72,2.50,1.02,1.0,0.99,0.66,39.0,24.0,0.0,0.55,-6.0,False
1496,-0.88,-1.76,-1.56,-2.06,-1.25,0.88,10.0,8.40,5.10,220.0,105.0,15.0,9.75,-75.0,False
1497,2.40,4.77,6.59,5.95,2.59,1.19,1.0,0.29,0.65,6.0,9.0,2.0,1.24,-1.0,False
1498,-1.24,0.66,-1.56,-1.51,0.17,1.73,10.0,7.75,5.70,210.0,225.0,15.0,10.05,55.0,False
1499,-1.46,-2.53,-2.63,-1.67,-2.71,3.92,10.0,9.00,5.55,80.0,305.0,15.0,6.60,50.0,True